.container{
    /* padding-top: 100px; */
    height: 100vh;
/* background-color: #2704a6; */
display: flex;
flex-direction: column;
justify-content: center;


}
.chat_window{
    gap: 50px;
}
.light{
    background-color: black;
    color: #fff;
}

.fistcol{
    background-color: #fff;
   color: black;
   border-radius: 5px;
   order: 2;

}


.ContainerActiveUser{
    margin: 0;
    padding: 0 10px 10px;
    height: 530px;
    max-height:700px;
    overflow-x:hidden; 
}
.ContainerActiveUser h6{
    margin-top: 30px;
    color: #ee0c0c;
}
.ContainerActiveUser p{
    color:#30A2FF;
    list-style: none;
    font-weight: 600;
}

.online{
    color: rgb(0, 255, 128);
}















.secandcol{
    background-color: #ffffff;
    color: #000;
    padding: 0 !important;
    border-radius: 5px;
    order: 1;
}
.messageContainer{
    margin: 0;
    padding: 0 10px 10px;
    height: 500px;
    max-height:400px;
    overflow-x:hidden;
}
.top_bar {
    background: #30A2FF;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
  }


  .messages {
    overflow-wrap: break-word;
    background: #30A2FF;
    padding: 5px 5px 10px 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
  }
  .messages2 {
    overflow-wrap: break-word;
    background: rgb(6, 248, 240);
    padding: 5px 5px 1px 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
  }
  .messages2 > p {
      font-size: 13px;
    }
  .messages2 > span {
      font-size: 15px;
      color: #ee0c0c;
  }
  .messages > time {  color: #fff;
    font-size: 15px;
    color: #2704a6;
    font-weight: 500;
}
.messages > p {  
    font-size: 13px;
    color: #fff;
    margin: 0 !important;

}
  .msg_container {
      padding: 10px;
      overflow: hidden;
      display: flex;
  }
  .msg_sent{
    /* padding-bottom:20px !important; */
  }
  
.msg_receive{
    /* padding-left:0;
    margin-left:0; */
    
}
  .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
  }


  /*  */
  .messageContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(14, 149, 140, 0.3);
    background-color: #F5F5F5;
}

.messageContainer::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.messageContainer::-webkit-scrollbar-thumb
{
    background-color: #30A2FF;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
/*  */
.panel_footer{
    display: flex;
    padding: 5px 10px;
}
.panel_footer button{
    background: #30A2FF;
    border: none;
    border-radius: 5px;
    color: #fff;
}
@media screen and (max-width:576px){

    .light{
        /* height: 100%; */
        /* max-height: 100%; */
    }
    .container{
        height: 100%;
    }


}